/*-----------   -CSS RESET------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*------------CSS RESET END------------*/

        /*=-=-=-=-Loading AnimationStart=-=-=-=-*/

.spinner {
  width: 80px;
  height: 80px;
  border: 2px solid white;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-radius: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  animation: spin 1.2s infinite ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(720deg);
  }
}

#overlay {
  height: 100%;
  width: 100%;
  background: rgba(255, 205, 255, 1);
  position: fixed;
  left: 0;
  top: 0;
}
        /*=-=-=-=-Loading Animation End=-=-=-=-*/

        /*-=-=-=-=Home Page Start=-=-=-=-*/
#content{
    overflow:hidden;
    height:100vh;
}
#main{
    transition:all 1s ease;
    width:100%;
    background-color:white;
    height:100vh;
    overflow:hidden;
    font-family:"Mr Dafoe", sans-serif;
}
            /*-=-=-=-=Left Start=-=-=-=-*/

#left{
    width:50%;
    height:100vh;
    float:left;
    overflow:hidden;
    background-color:#EAEAEA;
}
#name{
    position:relative;
    top:40%;
}
#name h1{
    font-family:"Mr Dafoe";
    font-size:70px;
    text-align:center;
    pointer-events:none;
}
.sub-title{
    text-align:center;
    position:relative;
    top:45%;
    margin:0 auto;
    width:28%;
    font-size:30px;
}

            /*-=-=-=-=Left End=-=-=-=-*/
            /*-=-=-=-=Right Start=-=-=-=-*/
#right{
    font-family:"Mr Dafoe";
    position:relative;
    width:50%;
    height:100vh;
    float:left;
    background-color:#eaeaea;
}

#worksDiv{
    transition:all .5s ease;
    position:relative;
    margin:0 auto;
    width:100%;
    height:100%;
    background-color:#151515;
    text-align:center;
    color:white;
    cursor:pointer;
}
#worksDiv:hover{
    background-color:#eaeaea;
}
#worksDiv:hover>h1{
    color:black;
}
#worksDiv h1{
    transition:all .5s ease;
    font-size:60px;
    position:relative;
    top:47%;
}

            /*-=-=-=-=Right End=-=-=-=-*/

        /*-=-=-=-=Home Page End=-=-=-=-*/

        /*-=-=-=-=Works Start=-=-=-=-*/
.worksContainer{
    width:100%;
    height:100vh;
    overflow:hidden;
    transition: all 1s ease;
}
#worksLeft{
    float:left;
    width:50%;
    height:100vh;
    background-color:#eaeaea;
}
.container{
    width:50%;
    height:60vh;
    padding:5vh;
    margin:15vh auto;
    text-align:center;
    position:relative;
}
.worksTitle{
    padding:10vh 0 5vh 0;
    font-size:30px;
    font-family:"Lato Light", sans-serif;
    border-bottom:solid .01px black;
}
.worksMenu{
    height:10vh;
}
.worksMenu h2{
    padding:5vh 2vh;
    font-size:24px;
    font-family:"Lato Light", sans-serif;
    line-height:0px;
}

.line{
    border:.5px solid black;
    margin:0 auto;
    width:92%
}
.worksBack{
    transition: 1s all ease;
    float:left;
    cursor:pointer;
    border-right:1px solid transparent;
}
.worksBack:hover{
    border-right:1px solid #151515;
}
.worksDate{
    position:absolute;
    right:0;
    left:0;
    pointer-events:none;
}
.worksNext{
    transition:1s all ease;
    float:right;
    cursor:pointer;
    border:1px solid transparent;
}
.worksNext:hover{
    border-left:1px solid #151515;
    padding:5vh 2vh;
}

#worksRight{
    float:left;
    width:50%;
    height:100vh;
    background-color:#151515;
}
.worksAbt{
    font-size:17px;
    text-align:justify;
    font-family:"Lato Light", sans-serif;
    width:77%;
    position:absolute;
    bottom:0;
    top:38vh;
    right:0;
    left:0;
    margin:0 auto;
    line-height:40px;
}
#worksOptions{
    padding-top:7%;
    position:relative;
    bottom:0;
    text-align:center;
    font-size:25px;
    height:5%;
    width:100%;
    font-family:"Lato Light", sans-serif;
}
#worksOptions h2{
    position:relative;
    bottom:0;
    color:white;
}

#worksContainer{
    margin:auto;
    margin-top:15%;
    height:70%;
    width:70%;
    background-color:white;
}
.worksImage{
    width:100%;
    height:100%;
}
#aboutContainer{
    margin-top:5vh;
}
#name2{
    transition:all 1s ease;
    opacity:0.0;
    position:relative;
    cursor:pointer;
}
#name2 h1{
    font-family:"Mr Dafoe";
    font-size:70px;
    text-align:center;
    pointer-events:none;
}
#aboutDesc{
    transition:1s all ease;
    opacity:0.0;
    font-size:22px;
    font-family:"Lato", sans-serif;
    width:77%;
    position:absolute;
    bottom:0;
    top:16vh;
    right:0;
    left:0;
    margin:0 auto;
    line-height:22px;
}
#coffeeContainer{
    transition:all 1s ease;
    opacity:0;
    height:50%;
    position:relative;
    top:37vh
}
#coffeeContainer img{
    width:50%;
    cursor:pointer;
}
#contactme{
    transition:all 1s ease;
    opacity:0.0;
    position:relative;
    top:10vh;
}
#contactme h1{
    color:#eaeaea;
    font-family:"Mr Dafoe";
    font-size:70px;
    text-align:center;
    pointer-events:none;
}
#contacts{
    transition:all 1s ease;
    opacity:0.0;
    position:relative;
    top:20vh;
    width:50%;
    height:15%;
    margin:0 auto;
}
.contact{
    text-align:center;
    height:100%;
    width:50%;
    float:left;
    color:#eaeaea;
    font-family:"Lato Light", sans-serif;
}
.contact img{
    width:30%;
}
#emailIcon{
    width:50%;
    padding-top:2vh;
}
.contact p{
    font-size:2vh;
    position:absolute;
    bottom:0;
    margin:0 auto;
    width:50%;
}
#portraitContainer{
    position:relative;
    width:100%;
    top:30vh;
}
#portrait{
    filter:invert(100%);
    transition:all 1s ease;
    opacity:0.0;
    width:20%;
    position:absolute;
    margin:0 auto;
    left:0;
    right:0;
    cursor:pointer;
}
.aboutLeft{
    filter:invert(100%);
}
.aboutRight{
    filter:invert(100%);
}
.no-dec{
    text-decoration:none;
    color:#eaeaea;
}

        /*-=-=-=-=Works End=-=-=-=-*/

        /*-=-=-=-=Media Queries Start=-=-=-=-*/
@media only screen and (max-width: 1400px) {

    #sub-menu{
        width:60%;
    }
    #right{
        background-color:skyblue;
    }
    .container{
        width:80%;
    }
    #worksContainer{
        width:80%;
        margin-top:30%
    }
    #worksOptions{
        padding-top:12%;
    }
    #contacts{
        width:80%;
    }
    #portrait{
        top:10vh;
        width:30%;
    }
    #coffeeContainer{
    top:40vh
}
    #aboutDesc{
        width:70%;
        font-size:1.7vh;
    }
}
        /*-=-=-=-=Media Queries End=-=-=-=-*/

